
div {
  max-width: 61.25rem;
  margin: 0 auto;
  border-style: solid;
  border-width: 0.125rem;
  min-height: 6.25rem;
  border-color: green;
  margin-bottom: 0.0615rem;

}



.wrapper {
  display:inline-block;
  min-width: 30%;
  border-color: blue;
  margin: 0.3125rem;

}

.cover {
  text-align: center;
}

.lower-wrapper {
  display: inline-block;
  min-width: 47%;
  margin: 0.3125rem;
  border-color: red;
}
